.contact-card {
    display: block;
  }
  
  .contact-header-image {
    //background-image: url('../../../assets/img/examples/shiba1.jpg');
    background-color:white;
    color: #009688;
    background-size: cover;
  }