<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions">
      <app-df-question [question]="question" [form]="form"></app-df-question>
    </div>

    <div>
      <button mat-icon-button type="submit" [disabled]="!form.valid">
        <mat-icon aria-label="save">save</mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="onQuit();">
        <mat-icon aria-label="cancel">cancel</mat-icon>
      </button>
    </div>

  </form>

</div>