<div [formGroup]="form" class="form-group row">

  <!-- 
   <label [attr.for]="question.key" class="col-sm-4 col-form-label">{{question.label}}</label>
 -->

  <div [ngSwitch]="question.controlType" class="form-control">

    <!-- textbox -->
    <mat-form-field *ngSwitchCase="'textbox'">
      <input matInput placeholder="{{question.label}}" 
              type="{{question.type" [formControlName]="question.key" [id]="question.key">
      <mat-hint>{{question.hint}}</mat-hint>
      <mat-error class="alert alert-danger" [hidden]="isValid || isPristine">{{question.label}} is required</mat-error>
    </mat-form-field>

    <!-- textarea -->
    <mat-form-field *ngSwitchCase="'textarea'">
      <textarea matInput placeholder="{{question.label}}" 
                [formControlName]="question.key" 
                [id]="question.key"></textarea>
                <mat-hint>{{question.hint}}</mat-hint>
                <mat-error class="alert alert-danger" [hidden]="isValid || isPristine">{{question.label}} is required</mat-error>
            </mat-form-field>

    <!-- dropdown -->
    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-select placeholder="Select">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{ opt.value }}</mat-option>
      </mat-select>
      <mat-hint>{{question.hint}}</mat-hint>
      <mat-error class="alert alert-danger" [hidden]="isValid || isPristine">{{question.label}} is required</mat-error>
    </mat-form-field>

    <!-- datepicker -->
    <mat-form-field *ngSwitchCase="'datepicker'">
      <input matInput [matDatepicker]="picker" placeholder="Select Date for {{question.label}}"
        [id]="question.key"
        [formControlName]="question.key">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUI="true" #picker></mat-datepicker>
      <mat-hint>{{question.hint}}</mat-hint>
      <mat-error class="alert alert-danger" [hidden]="isValid || isPristine">{{question.label}} is required</mat-error>
    </mat-form-field>
  </div>
</div>