<div class="app-main-container">

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav class="app-sidenav mat-elevation-z4" #sidenav 
        opened="{{sidenavOpened}}" 
        mode="{{sidenavMode}}"
        disableClose="{{sidenavDisableClose}}">
      <nav>
        <div *ngFor="let group of mainMenu">
          <h3>{{group.groupName}}</h3>
          <ul>
            <li *ngFor="let menuItem of group.items">
              <a (click)="goto(menuItem.link,menuItem.title)" routerLinkActive="active">{{menuItem.title}}</a>
            </li>
          </ul>
        </div>
      </nav>
    </mat-sidenav>


    <div class="app-sidenav-content">
      <div class="app-main-header">
        <div *ngIf="mobileMenu">
          <button class="sidenav-toggle mat-button" (click)="sidenav.open()">
            <mat-icon role="img">menu</mat-icon>
          </button>
        </div>
        <h1 *ngIf="!router.isActive('/main/dashboard')">{{currentPage}}</h1>
        <h1 *ngIf="router.isActive('/main/dashboard')">Dashboard</h1>
      </div>
      
      <router-outlet></router-outlet>
    
    
    </div>
    <footer class="app-main-footer">

      <div class="app-copyright">
        <span>&copy; Lennie Harvey 2017</span>
      </div>

    </footer>
  </mat-sidenav-container>
</div>