<div class="page-header">
  <h2> Edit Companies </h2>
</div>

<div *ngIf="companies">
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
        <mat-cell *matCellDef="let company"> {{company.companyName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let company">
          <button mat-icon-button>
            <mat-icon aria-label="edit company" routerLink="edit/{{company.id}}" class="action-button" matTooltip="Edit Company">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-label="delete company" (click)="onDelete(company); $event.stopPropagation()" class="action-button" matTooltip="Delete Company">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
      
  </div>
  
  <button mat-icon-button>
    <mat-icon aria-label="add new company" routerLink="new" class="action-button" matTooltip="Add new company">add</mat-icon>
  </button>
</div>

<div *ngIf="loading">
  <mat-spinner class="app-spinner"></mat-spinner>
</div>
