<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<mat-toolbar color="primary" class="mat-elevation-z6 sticky-top">
  <button mat-button routerLink="/" mat-tooltip="Home Page">
    <mat-icon class="toolbar-icon">home</mat-icon>
    <span class="toolbar-title">{{title}}</span>
  </button>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button routerLink="contact" mat-tooltip="Contact Details">
    <mat-icon class="toolbar-icon">contacts</mat-icon>
  </button>
  <button mat-icon-button routerLink="about" mat-tooltip="About">
    <mat-icon class="toolbar-icon">info_outline</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid body-content">
  <router-outlet></router-outlet>
</div>

<footer class="footer fixed-bottom">
  <mat-toolbar color="primary">
    <span>&copy; Lennie Harvey 2017</span>
  </mat-toolbar>
</footer>