.dashboard-card {
    margin: 10px;
 //   display: inline-block;
}

.dashboard-page {
    margin-top: 40px;
}

.dashboard-header {
    color: #009688;
    margin-bottom: 20px;
    text-align: center;
}

.dashboard-icon {
    color: #009688;
    height: 60px;
    width: 60px;    
}

.dashboard-card-content {
    text-align: left;
}