<h2> Edit Contacts </h2>

<div *ngIf="contacts">
  <mat-nav-list>
    <div *ngFor="let contact of contacts" mat-list-item>
    {{contact.firstName}} {{contact.lastName}}
    <button mat-icon-button>
      <mat-icon aria-label="edit contact" routerLink="edit/{{contact.id}}">edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="delete contact" (click)="onDelete(contact); $event.stopPropagation()">delete</mat-icon>
    </button>
  </div>
  </mat-nav-list>  
  <button mat-icon-button (click)="add();">
    <mat-icon aria-label="add new contact" routerLink="new">add</mat-icon>
  </button> 
</div>

<div *ngIf="loading">
    <mat-spinner class="app-spinner"></mat-spinner>
</div>
  