<div *ngIf="contact">
  <h4>Edit {{contact.firstName}} {{contact.lastName}}</h4>
  <form (ngSubmit)="onSubmit()"   #contactForm="ngForm">

    <app-contact-form [contact]="contact"></app-contact-form>

    <div>
        <button mat-icon-button type="submit" [disabled]="!contactForm.form.valid" >
            <mat-icon aria-label="save">save</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="goBack();" >
            <mat-icon aria-label="cancel">cancel</mat-icon>
        </button>
    </div>
  </form>
</div>